@import './base.css';

#app {
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bg-page-home {
    background: var(--bg-linear);
    background: var(--bg-linear-gradient);
}

.bg-page-register,
.bg-page-date {
    background: var(--bg-linear-second);
}

.bg-page-result {
    background: greenyellow;
}
